AI_API_KEY=
AI_API_URL=
AI_MODEL=
AI_PROVIDER=
AI_STT_PROVIDER=
AI_TTS_PROVIDER=
LOCAL_TTS=
SUPABASE_PROJECT_ID=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
TTS_ENGINE=
TTS_LANGUAGE=
TTS_PROVIDER=
TTS_SPEED=
TTS_VOICE=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=